# Introduction

The NYC 311 Service Requests and Community District Indicators have both been obtained and exported. In this section, we'll merge the datasets on the community district/board columns, deal with missing values, reformat values for consistency, and exclude superfluous columns.

# Loading Dependencies

In [1]:
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Data Cleaning

### Dealing with Missing and Superfluous Data

Below, we load the 311 data from Google Drive using [GoogleAuth](https://pythonhosted.org/PyDrive/oauth.html) and read it into a pandas dataframe.

In [7]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [9]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [10]:
path = '/content/drive/MyDrive/Colab Notebooks/311.csv'
df = pd.read_csv(path, index_col=0)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (39,45,46) have mixed types.Specify dtype option on import or set low_memory=False.

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

Let's now check the column data types and identify columns with missing values.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500000 entries, 0 to 1499999
Data columns (total 46 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   unique_key                      1500000 non-null  int64
 1   created_date                    1500000 non-null  object
 2   agency                          1500000 non-null  object
 3   agency_name                     1500000 non-null  object
 4   complaint_type                  1500000 non-null  object
 5   descriptor                      1422438 non-null  object
 6   location_type                   1237278 non-null  object
 7   incident_zip                    1467586 non-null  float64
 8   incident_address                1437587 non-null  object
 9   street_name                     1437527 non-null  object
 10  cross_street_1                  1217249 non-null  object
 11  cross_street_2                  1216469 non-null  object
 12  intersection_street_1           1128813 non-null  object
 13  intersection_street_2           1128837 non-null  object
 14  city                            1389041 non-null  object
 15  landmark                        991719 non-null   object
 16  status                          1500000 non-null  object
 17  community_board                 1500000 non-null  object
 18  bbl                             1298580 non-null  float64
 19  borough                         1500000 non-null  object
 20  x_coordinate_state_plane        1460622 non-null  float64
 21  y_coordinate_state_plane        1460622 non-null  float64
 22  open_data_channel_type          1500000 non-null  object
 23  park_facility_name              1499380 non-null  object
 24  park_borough                    1500000 non-null  object
 25  latitude                        1460510 non-null  float64
 26  longitude                       1460510 non-null  float64
 27  location                        1460510 non-null  object
 28  :@computed_region_efsh_h5xi     1455794 non-null  float64
 29  :@computed_region_f5dn_yrer     1460131 non-null  float64
 30  :@computed_region_yeji_bk3q     1460130 non-null  float64
 31  :@computed_region_92fq_4b7q     1460130 non-null  float64
 32  :@computed_region_sbqj_enih     1460131 non-null  float64
 33  resolution_description          1418604 non-null  object
 34  resolution_action_updated_date  1419722 non-null  object
 35  closed_date                     1382171 non-null  object
 36  address_type                    446566 non-null   object
 37  facility_type                   38080 non-null    object
 38  bridge_highway_name             181 non-null      object
 39  bridge_highway_direction        1699 non-null     object
 40  road_ramp                       1687 non-null     object
 41  bridge_highway_segment          1687 non-null     object
 42  taxi_pick_up_location           5144 non-null     object
 43  taxi_company_borough            637 non-null      object
 44  vehicle_type                    271 non-null      object
 45  due_date                        233 non-null      object
dtypes: float64(11), int64(1), object(34)
memory usage: 537.9+ MB

The dataset consists of float, integer, and object data types. Most of the columns that contain missing values appear to be associated with particular complaint types. Next, we overwrite the dataframe to include only the rows and columns of interest.

In [12]:
#eliminate rows without lat/long and location type data
df = df[df.latitude.notnull()]
df = df[df.longitude.notnull()]
df = df[df.descriptor.notnull()]

In [13]:
#exclude unnecessary columns
df = df[['created_date', 'complaint_type', 'agency', 'community_board', 
         'latitude', 'longitude', 'descriptor', 'borough']]


### Descriptions of Remaining Columns

The descriptions for every column are available on the dataset's NYCOpenData profile. The descriptions for the columns included in this analysis have been pasted below.
*   **Created Date**: Date service request(SR) was created
*   **Complaint Type**: This is the first level of a hierarchy identifying the topic of the incident or condition. Complaint Type may have a corresponding Descriptor (below) or may stand alone.
*   **Agency**: Acronym of responding City Government Agency
*   **Community Board**: Provided by geovalidation.
*   **Latitude**: Geo based Lat of the incident location
*   **Longitude**: eo based Long of the incident location
*   **Descriptor**: This is associated to the Complaint Type, and provides further detail on the incident or condition. Descriptor values are dependent on the Complaint Type, and are not always required in SR.
*   **Borough**: Provided by the submitter and confirmed by geovalidation.

### Reformatting Values for Consistency

If we look at unique values in the 'complaint type' column, we'll see that some values are in title case while others are in upper case.

In [14]:
df.complaint_type.unique()

array(['Noise - Residential', 'Illegal Parking',
       'Noise - Street/Sidewalk', 'NonCompliance with Phased Reopening',
       'Blocked Driveway', 'Noise - Vehicle', 'Street Sign - Damaged',
       'Overgrown Tree/Branches', 'Animal-Abuse', 'Noise - Commercial',
       'Mass Gathering Complaint', 'Traffic Signal Condition',
       'Non-Emergency Police Matter', 'Rodent', 'Street Sign - Missing',
       'Noise - Park', 'Maintenance or Facility', 'Illegal Tree Damage',
       'Food Establishment', 'Street Condition', 'Street Light Condition',
       'Noise', 'HEAT/HOT WATER', 'UNSANITARY CONDITION',
       'Construction Lead Dust', 'GENERAL', 'Air Quality', 'ELECTRIC',
       'DOOR/WINDOW', 'PLUMBING', 'APPLIANCE',
       'Unsanitary Animal Facility', 'Drinking', 'Sidewalk Condition',
       'PAINT/PLASTER', 'Traffic', 'Water System', 'Curb Condition',
       'Indoor Sewage', 'WATER LEAK', 'Sewer', 'Outdoor Dining',
       'FLOORING/STAIRS', 'Drug Activity', 'Violation of Park Rules',
       'Noise - Helicopter', 'Abandoned Vehicle', 'New Tree Request',
       'For Hire Vehicle Complaint', 'Hazardous Materials', 'Lead',
       'Indoor Air Quality', 'Lost Property', 'SAFETY', 'Taxi Complaint',
       'Cooling Tower', 'Dead/Dying Tree', 'Consumer Complaint',
       'Smoking', 'Root/Sewer/Sidewalk Condition', 'Vending',
       'School Maintenance', 'ELEVATOR', 'For Hire Vehicle Report',
       'Damaged Tree', 'Elevator', 'Graffiti',
       'General Construction/Plumbing', 'Emergency Response Team (ERT)',
       'Wood Pile Remaining', 'Boilers', 'Building/Use',
       'Broken Parking Meter', 'Asbestos',
       'COVID-19 Non-essential Construction', 'Street Sign - Dangling',
       'Water Conservation', 'Water Quality',
       'Unsanitary Animal Pvt Property', 'Animal in a Park',
       'Food Poisoning', 'Plumbing',
       'Special Projects Inspection Team (SPIT)', 'Day Care',
       'Missed Collection (All Materials)', 'Dirty Conditions',
       'Mobile Food Vendor', 'Industrial Waste', 'Unleashed Dog',
       'Derelict Bicycle', 'Electrical', 'Illegal Animal Sold',
       'Bus Stop Shelter Complaint', 'Scaffold Safety', 'Uprooted Stump',
       'Non-Residential Heat', 'OUTSIDE BUILDING', 'Sanitation Condition',
       'Other Enforcement', 'Illegal Animal Kept as Pet',
       'Unsanitary Pigeon Condition', 'Taxi Report', 'Drinking Water',
       'Noise - House of Worship', 'Investigations and Discipline (IAD)',
       'Cranes and Derricks', 'DEP Street Condition',
       'Green Taxi Complaint', 'Mold', 'LinkNYC', 'Bike Rack Condition',
       'Tattooing', 'BEST/Site Safety', 'Bus Stop Shelter Placement',
       'Mosquitoes', 'Vacant Lot', 'Peeling Paint',
       'Public Payphone Complaint', 'Beach/Pool/Sauna Complaint',
       'Special Natural Area District (SNAD)', 'Snow',
       'Recycling Enforcement', 'DSNY Spillage', 'Derelict Vehicles',
       'Disorderly Youth', 'Plant', 'Pet Shop', 'Internal Code',
       'Green Taxi Report', 'Taxi Compliment', 'Public Toilet',
       'X-Ray Machine/Equipment', 'Bottled Water',
       'Posting Advertisement', 'Window Guard', 'Harboring Bees/Wasps',
       'Radioactive Material', 'Overflowing Litter Baskets',
       'Litter Basket / Request', 'Sweeping/Missed', 'Standing Water',
       'Borough Office', 'Found Property', 'Collection Truck Noise',
       'DEP Sidewalk Condition', 'Calorie Labeling', 'Highway Condition',
       'Highway Sign - Damaged', 'Dispatched Taxi Complaint',
       'Building Condition', 'Employee Behavior',
       'Dept of Investigations', 'Lifeguard', 'Miscellaneous Categories',
       'FHV Licensee Complaint', 'Sweeping/Inadequate',
       'Bridge Condition'], dtype=object)

Below, all of the values in the column are converted to title case.

In [15]:
df.complaint_type = df.complaint_type.str.title()

The values in the 'agengy' column also have inconsistent formatting: all but one have abbreviated names.

In [16]:
df.agency.unique()

array(['NYPD', 'MAYORâ\x80\x99S OFFICE OF SPECIAL ENFORCEMENT', 'DOT',
       'DPR', 'DOHMH', 'DEP', 'HPD', 'EDC', 'TLC', 'DCA', 'DOE', 'DOB',
       'DSNY', 'DOITT'], dtype=object)

We'll convert the ''MAYOR'S OFFICE OF SPECIAL ENFORCEMENT'value to its abbreviated name, OSE:

In [17]:
def update_OSE(agency):

  """Takes in an agency name and converts to abbreviated form, if the agency is
     the Office of Special Enforcement."""

  if agency == 'MAYORâ\x80\x99S OFFICE OF SPECIAL ENFORCEMENT':
      return "OSE"
  else:
      return agency
    
df.agency = df.agency.map(lambda agency: update_OSE(agency))

Among noise-related complaints, only one does not specify the noise source:

In [18]:
noise_columns = []

for i in df.complaint_type:
   if i.startswith('Noise') and i not in noise_columns:
     noise_columns.append(i)
noise_columns

['Noise - Residential',
 'Noise - Street/Sidewalk',
 'Noise - Vehicle',
 'Noise - Commercial',
 'Noise - Park',
 'Noise',
 'Noise - Helicopter',
 'Noise - House Of Worship']

We'll convert the generic 'Noise' value to 'Noise - Unspecified' so that its formatting matches that of similar complaint types.

In [19]:
#Label unspecified noise complaints as 'Noise - Unspecified'

def update_noise(complaint):

  """Takes in an complaint name and updates it, if it is
     an unspecified noise complaint."""

  if complaint == 'Noise':
    
    return "Noise - Unspecified"

  else:

    return complaint
    
df.complaint_type = df.complaint_type.map(
    lambda complaint: update_noise(complaint))

The 'created_date' column currently contains string values:

In [20]:
type(df.created_date[1])

str

The ```pandas.to_datetime()``` method converts each string value to a datetime object below.

In [21]:
#convert date column to datetime 
df['created_date'] = pd.to_datetime(df['created_date'], 
                                    format='%Y-%m-%dT%H:%M:%S.%f')

In [22]:
#check new data type for created_date column
type(df['created_date'][1])

pandas._libs.tslibs.timestamps.Timestamp

Using the datetime format, we can now create new columns with the day, month, day of week, and hour of each call. This will allow us to explore the independent relationship of each variable to other characteristics of the calls.

In [23]:
df['day'] = [str(i.date()) for i in df.created_date]
df['month'] = [int(i.month) for i in df.created_date]
df['day_of_week'] = [int(i.weekday()) for i in df.created_date]
df['hour'] = [int(i.hour) for i in df.created_date]

The calls are currently ordered in the dataframe from most-least recent. For data visualization purposes, we'll reindex the calls so that the linear, left-to-right presentation of time on an x-axis runs from least-most recent.

In [24]:
#reorder df from least-most recent calls
df = df.reindex(index=df.index[::-1])

To numerically encode the descriptor column in the modeling phase, we'll first need to exclude all values that aren't letters. Below, an empty space is substituted for all numbers and non-letter symbols.

In [25]:
num_pattern = r'[-()0-9]'
df.descriptor = df.descriptor.map(lambda x: re.sub(num_pattern, '', x).lower())
df.descriptor = df.descriptor.map(lambda x: re.sub('/', ' ', x))

In [26]:
#preview sample of unique descriptors with non-letters removed
df.descriptor.unique()[0:20]

array(['construction', 'no access', 'blocked hydrant',
       'posted parking sign violation', ' derelict vehicles',
       'manhole cover missing emergency sa',
       'noise: construction before after hours nm', 'banging pounding',
       'loud talking', 'social distancing', 'leak use comments wa',
       'noise: private carting noise nq', 'engine idling',
       'e dirty sidewalk', 'rodent sighting',
       'possible water main break use comments wa', 'loud music party',
       'rat sighting', 'dumpster  construction waste', 'dirty water we'],
      dtype=object)

### Merging the Community District Indicators Data

Now let's read in and preview the community district indicators data.

In [27]:
path = '//content/drive/MyDrive/Colab Notebooks/indicators.csv'
ind_df = pd.read_csv(path)

In [28]:
ind_df.head()

   the_geom  cartodb_id  the_geom_webmercator  ...       v_acs  v_facdb v_crime
0       NaN           1                   NaN  ...  Y2014-2018  6/24/20    2019
1       NaN           2                   NaN  ...  Y2014-2018  6/24/20    2019
2       NaN           3                   NaN  ...  Y2014-2018  6/24/20    2019
3       NaN           4                   NaN  ...  Y2014-2018  6/24/20    2019
4       NaN           5                   NaN  ...  Y2014-2018  6/24/20    2019

[5 rows x 188 columns]

In [29]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Columns: 188 entries, the_geom to v_crime
dtypes: bool(1), float64(121), int64(51), object(15)
memory usage: 86.4+ KB

This dataset contains many columns, which have been narrowed down to a selection of development, demographic, economic and social variables below. Most of the column names are self-explanatory, but a a full list of column descriptions can be found in the 'Indicators Data Dictionary' file on any [community district profile](https://communityprofiles.planning.nyc.gov/).

In [30]:
ind_df = ind_df[[
'cd_short_title', 
'area_sqmi',
'count_hosp_clinic',
'count_libraries',
'count_parks',
'count_public_schools',
'crime_per_1000',
'female_15_19',
'female_20_24',
'female_25_29',
'female_30_34',
'female_35_39',
'female_40_44',
'female_45_49',
'female_50_54',
'female_55_59',
'female_60_64',
'male_10_14',
'male_15_19',
'male_20_24',
'male_25_29',
'male_30_34',
'male_35_39',
'male_40_44',
'male_45_49',
'male_50_54',
'male_55_59',
'male_60_64',
'under18_rate',
'over65_rate',
'lots_total',
'lots_vacant',
'pct_white_nh',
'pct_black_nh',
'pct_asian_nh',
'pct_other_nh',
'pct_hispanic',
'mean_commute',
'pop_change_00_10',
'pct_clean_strts',
'unemployment',
'poverty_rate',
'lep_rate_boro',
'pct_hh_rent_burd'
]]

Let's look at the summary statistics for each of the numeric variables in the dataset.

In [31]:
ind_df.describe().loc[['mean','std', 'min', 'max']]

      area_sqmi  count_hosp_clinic  ...  lep_rate_boro  pct_hh_rent_burd
mean   4.613559          22.898305  ...      23.049153         44.723729
std    4.295164          13.101323  ...       5.305637          7.550322
min    1.400000           1.000000  ...      10.900000         28.800000
max   21.500000          54.000000  ...      28.800000         60.300000

[4 rows x 43 columns]

We can see that the average size of a community district is 4.6 miles, and that the average percentage of men and women in their 20s and 30s are higher than percentages for other age groups. On average, white residents make up about a third of the community districts' population, followed by hispanic, black, and asian residents. The average poverty rate is 19%, the average unemployment rate is 4.5%, and the average crime rate (for 7 major felonies) per 1000 residents is about 10. 

We'll format the community district column in this dataset such that it can be merged with the community board column in the 311 dataset. In NYC, community districts and their corresponding boards share the same number and borough. According to the webpage for [Queens Community Board 3](http://www.cb3qn.nyc.gov/1652), "each community district has a Community Board to oversee the delivery of city services and facilitate local governance." Currently, the values for community boards in df and community districts in ind_df are formatted differently:

In [32]:
df.community_board[0:10]

1499999        08 BRONX
1499998    11 MANHATTAN
1499997       06 QUEENS
1499996       05 QUEENS
1499995     05 BROOKLYN
1499994     05 BROOKLYN
1499993     17 BROOKLYN
1499992    08 MANHATTAN
1499991    04 MANHATTAN
1499990    10 MANHATTAN
Name: community_board, dtype: object

In [33]:
ind_df.cd_short_title[0:10]

0     Manhattan CD 1
1     Manhattan CD 2
2     Manhattan CD 3
3     Manhattan CD 4
4     Manhattan CD 5
5     Manhattan CD 6
6     Manhattan CD 7
7     Manhattan CD 8
8     Manhattan CD 9
9    Manhattan CD 10
Name: cd_short_title, dtype: object

Below, each community district short title is converted to uppercase, 'CD' is removed, and the number is moved to the front of the string, as in the 311 dataset.

In [34]:
#format community district string values so that they match community board vals 

pd.options.mode.chained_assignment = None 

for row in ind_df.index:
    upper = ind_df.at[row, "cd_short_title"].upper().replace(' CD','')
    num_first = "{}".format(upper[-2:] + ' ' + upper[:-2]).strip()
    ind_df.cd_short_title.loc[row] = num_first

The below function removes all 0's from the beginning of single-digit community board numbers in the 311 dataset. The subsequent list comprehension uses the function to update each value in the community board column.

In [35]:
def format_cb(cb_string):

  """Takes in a string value for a community board in the 311 dataframe. If the 
     string starts with '0', updates the string to contain every letter after 0."""  
  
  if cb_string.startswith('0'):
        return cb_string[1:]
  else:
        return cb_string

In [36]:
df.community_board = [format_cb(i) for i in df.community_board]

The community board column contains more unique values than the community district column, as shown below.

In [37]:
len(df.community_board.unique())

76

In [38]:
len(ind_df.cd_short_title.unique())

59

We'll remove every row without a matching value by first labelling the non-matches and then overwriting the 311 dataset to exclude them.

In [39]:
def label_non_match(cb):

  """Takes in a community board value in the 311 dataset. If the value does not 
     match one of the unique values in the indicators dataset, returns the 
     string 'Non-match.'"""
    
  if cb in ind_df.cd_short_title.unique():
        return cb 
  
  else:
        return 'Non-match'

In [40]:
df.community_board = df.community_board.map(lambda cb: label_non_match(cb))

In [41]:
df = df[df.community_board != 'Non-match']

Now that all of the community district/board values have a match in both columns, we can create a column with a matching title in the indicators dataframe and perform an inner join with the 311 dataframe.

In [42]:
#create new column with matching name to join data, and drop duplicate column
ind_df['community_board'] = ind_df.cd_short_title
df = pd.merge(df, ind_df, how='inner')

df.drop("cd_short_title", axis=1, inplace=True)

# Exporting the Data

The code below can be used to export the dataframes to Google Drive. Simply change the file paths to paths of your choice.

In [43]:
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
df.to_csv('/content/gdrive/My Drive/Colab Notebooks/community_board_311.csv', header=True)

# References
[Bar Charts in Python](https://plotly.com/python/bar-charts/)

[Mapbox Density Heatmap in Python](https://plotly.com/python/mapbox-density-heatmaps/)

[Bubble Charts in Python](https://plotly.com/python/bubble-charts/)

[Filled Area Plots in Python](https://plotly.com/python/filled-area-plots/)

[Seaborn Heatmap](https://seaborn.pydata.org/generated/seaborn.heatmap.html)

[Masked Wordcloud](https://amueller.github.io/word_cloud/auto_examples/masked.html)